html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

button {
    width: 100% !important;
    margin: 0 !important;
    padding: 10px !important;
    font-size: large !important;
    vertical-align: middle !important;
    border: 1px solid rgb(220,220,220) !important;
}

select,
input[type=text],
input[type=number],
input[type=password] {
    border: none !important;
    width: 95% !important;
    padding-left: 5px !important;
    font-size: large !important;
    vertical-align: middle !important;
    background: white !important;
}

fieldset.invalid {
    border: 1px solid rgb(236,9,40) !important;
}

fieldset.invalid > legend {
    color: rgb(236,9,40);
}

.btn {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}

.btn.btn-green {
    background-color: rgb(75,215,99) !important;
    border-color: rgb(75,215,99) !important;
    color: rgb(255,255,255) !important;
}

button:disabled {
  opacity: 0.6;
}

.table {
    display: table;
    width: calc(100% - 2px);
    height: 100%;
}

.row {
    display: table-row;
    margin: 0;
    border-bottom: 1px solid rgb(236,9,40);
    border-left: 1px solid rgb(236,9,40);
    border-right: 1px solid rgb(236,9,40);
}

.tabs {
    height: 50px !important;
}

.tab {
    display: table-cell;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    width: 25%;
    height: 100%;
}

.tab-active {
    color: rgb(0,0,0);
    border-bottom: 2px solid rgb(236,9,40);
}

.tab-inactive {
    color: rgb(0,0,0);
    border-bottom: 2px solid rgb(231,231,231);
    font-weight: normal;
}

.tab-content {
    bottom: 0px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 20px 0;
}

#loglines {
    font-size: smaller;
    padding: 10px;
}